/* .div1{
  position: fixed;  
  top: 0px;
  color: red;
  font-size: 100px;
  background-color: aquamarine;
  
} */
body {
  margin: 0;
  padding: 0;
  background-color: #2D1E6B;
  box-sizing: border-box;
  border: 1px dotted black;
}

#navbar {
  margin: 0 auto;
  width: 80vw;
  height: 20vh;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  color: aliceblue;

}

#log-container {
  display: flex;
  align-items: center;
}

#log-container img {
  height: 25px;
  width: 25px;
  margin: 10%;
}

#nav_items {
  display: flex;
  list-style: none;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;


}

/* this makes li to show clickable when cursor hovers it  */
#nav_items li {
  cursor: pointer;
}

#main-header {
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  color: #ffff;
  position: relative;
}


/* the sizes are also specified by designer  */
/* The mix-blend-mode property in CSS specifies how an element's content should blend with the content of the element's parent and the element's background. The value color-dodge is one of the available blend modes. When using mix-blend-mode: color-dodge;, the colors of the element are lightened depending on the background.
  note: proper image is used to be given by designer itself , but we have to do something extra we make it as bgcolor of parent element*/
#main-header .right {
  width: 70%;
  height: 50%;
  z-index: -10;
  /* box-sizing: content-box; */
  mix-blend-mode: color-dodge;
}

#main-header .left {
  width: 25%;
  height: 300px;
  position: absolute;
  left: 5%;
  top: 0.2%;
  /* z-index: -10; */
  /* mix-blend-mode: color-dodge;      */
}

#main-header .left .big-text {
  font-size: 50px;
}


#main-header .left .overview {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-start;
  gap: 15px;
}

#main-header .left .overview .overview-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradient-text {
  color: #e614b5;
}

.buttons {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.centre-buttons{
/* display: flex; */
justify-content: center;

}

.btn {
  border: 1px solid #ffff;
  padding: 10px;
  margin: 5px;
  transform: skewX(-20deg);
  cursor: pointer;
}

.btn1 {
  background: #6d0555;
}


.band {
  width: 100%;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  background: #ffffff40;
  box-shadow: 0 80px 32px 0 rgba(31, 38, 135, 0.37);
  /*  its value mainluy given by designers:its use not getting */
  backdrop-filter: blur(4px);
  transform: rotate(-3deg);

}

.choose-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.image-crousel{
  margin:30px;
  display:flex;
  /* height:400px; */
  width:100vw;
  justify-content:space-between;
 align-items: center;
}

.centre-image{
  height: 350px;
  width:350px;
}

.discover{
  display:flex;
  padding:10px;
  /* the claculates the left width which is 30% width and divides it as margin from left and right so elemt comes in centre */
  width:70%;
  margin:0 auto;
  align-items: center;
  gap: 20px;
  border: 1px solid #ffffff40;
  border-radius:10px;

}

.discover .left img{
  /* the makes elememt outside the parent div by 20 px */
  margin-top: -20px;  
  mix-blend-mode: color-dodge;   
}
.big-text {
  font-size: 30px;
}

.discover .right .btn2{
  border: 1px solid #fff;
  width: fit-content;
  padding:3px 3px;
  transform: skewX(-20deg);
  
}

/* NOTE:  */
/* background Property:
Purpose: A shorthand property that allows you to set multiple background-related properties (including background-color, background-image, background-position, background-size, background-repeat, background-attachment, and background-origin) in one declaration. */