
/* .div1{
    border: 1px solid black;
    width: 20vw; */
    /* this tranform element by x and y axis both
    note:  rotate not only external element on which tranform applied , but it tranform whole elemnt or content inside that element*/
    /* transform:rotate(90deg);  */
    /* transform: rotateX(90deg);  this rotate the element by using X axis as axis of rotataion so when we rotate any 2D  element 
    by  90 by  X -axis or yaxis as rotataion-axis then element becomes invisible becouse its z -axis comes in front and in 2D z-dimesion is 0.  */  
   
    /* transform: rotateY(90deg) */

/* 
    transition-duration: all ;

} */


/* .div1:hover{
    transform: rotateX('90deg');
} */

/* we can use tranform property inside force state change : like  hover , active . But transition property applied on that element only  */

/* Study transform ,transition from Apna college : */

/* 
 transition:rotate(degree angle)  (other shown in above css of div1.
  
 ##scale: it defines dimesion of element have to increase or decrease.
 transform:scale(1.5) // THIS MAKES ELEMENT 1.5 TIMES IN ITS PREV WIDTH (X-AXIS) AND HEIGHT(Y-AXIS).
 transform: scaleX(2) //THIS MAKES ELEMENT 2 TIMES IN ITS PREV WIDTH (X-AXIS).
 transform:scaleY(1)   //THIS MAKES ELEMENT 1 TIMES(MEANS NO CHNAGE) IN ITS PREV  HEIGHT (Y-AXIS).

 ##skew(30deg) : angle can be positive or negative. Negative tilt elemnt to right side where postive towards left
     
*/

/* use of skew in transform Eg:  */
.div1{
    border: 1px solid black;
    width: 20vw;
    transition: all 2s ease-in ;
    transform:skew(-30deg); 
}

.div1:hover{
    /* transform:skew(-30deg);   */
    /* transform:skewX(-30deg);   */
    transform:skewY(-30deg);  
}


/*##### Topic: Translation Property in transform ######################

=>The translateX function in CSS is used to move an element horizontally along the X-axis. It's part of the CSS transform property,
 which allows you to apply various transformations to an element, such as translating (moving), rotating, scaling, or skewing.
Code: Syntax:
transform: translateX(value);

#params:
=> value: The distance you want to move the element horizontally. It can be specified in units like pixels (px), percentages (%), or any other valid CSS length unit. A positive value moves the element
 to the right, while a negative value moves it to the left.

 => Important Notes:
translateX does not affect the flow of the document, meaning the element's original space remains unchanged, and other elements around it are not affected by the transformation.
It can be combined with other transform functions like translateY, rotate, or scale within the same transform property:

code: .example {
    transform: translateX(50px) translateY(20px) rotate(45deg);
}

 */